# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox
    - name: Lint code
      run: tox -vve lint

  unit:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox
      - name: Run unit tests
        run: tox -vve unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@kf-8450-fix-tf-apply
    with:
      charm-path: .
        
  integration:
    name: Integration Tests
    runs-on: ubuntu-24.04
    steps:
    - name: Maximise GH runner space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Test
      run: tox -vve integration -- --model testing

      # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Describe replicasets
      run: kubectl describe replicasets -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get application logs
      run: kubectl logs -n testing --tail 1000 -lapp.kubernetes.io/name=mlmd
      if: failure()

    - name: Get application operator logs
      run: kubectl logs -n testing --tail 1000 -ljuju-operator=mlmd
      if: failure()
